@media screen and (max-width: 758px) {
    h1 {
        font-size: 32px;
    }
    header {
        padding: 10px 5px;
    }
    nav {
        padding-left: 10px;
        padding-right: 10px;
    }
    /*Hero section*/
    .hero-section {
        flex-direction: column;
    }
    .hero-box {
        width: 100%;
        text-align: center;
    }
    .hero-left-box {
        margin-bottom: 40px;
    }
    .section {
        width: 95%;
        padding: 80px 43px;
        flex-direction: column-reverse;
    }
    .section div {
        width: 100%;
        justify-content: center;
    }
    .section .left-box {
        margin-top: 30px;
        text-align: center;
    }
    .footer-call-to-action {
        width: 95%;
        height: 25%;
        left: 15px;
    }
    .footer-content-area {
        margin-top: 170px;
        
    }
    .footer-blocks {
        flex-direction: column;
    }
    .footer-blocks1,
    .footer-links1, 
    .footer-links2, 
    .footer-socials {
        width: 100%;
    }
    .footer-links1 {
        margin-top: 20px;
        padding-bottom: 0;
    }
    .footer-links2 {
        padding-top: 0;
    }
    .footer-links1 a,
    .footer-links2 a {
        padding: 12px;
    }
    
    .footer-socials {
        justify-content: center;
    }
    .copyright {
        text-align: center;
    }
}