html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
p {
    color: hsl(208, 11%, 55%);
}
header {
    width: 100%;
    height: 100vh;
    padding: 20px;
    background: url('img/bg-hero-desktop.svg');
    background-color: hsl(193, 100%, 96%);
}
nav {
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}
nav img {
    width: 200px;
    height: auto;
}
nav button {
    width: 200px;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 30%;
    box-shadow: 1px 1px hsl(193, 100%, 96%);
    cursor: pointer;
}

/*Hero Section*/
.hero-section {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
}
.hero-box {
    /*width: 50%;*/
    padding: 20px;
    overflow: hidden;
}
.hero-left-box {
    width: 45%;
    padding-top: 70px;
    padding-right: 20px;
}
.hero-left-box p {
    color: hsl(192, 100%, 9%);
}
.hero-left-box button {
    width: 70%;
    margin-top: 30px;
    padding: 18px 20px 18px 20px;
    color: #fff;
    font-weight: 700;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 30%;
    outline: none;
    cursor: pointer;
}
.hero-right-box {
    width: 55%;
}
.hero-right-box img {
    width: 100%;
}

/*Main section styles*/
main {
    width: 100%;
    margin-top: 120px;
    padding: 20px;
}

.section {
    width: 90%;
    height: 80vh;
    margin: auto;
    margin-bottom: 40px;
    padding: 40px 80px 0 80px;
    border: 1px solid hsl(208, 11%, 85%);
    border-radius: 3%;
    outline: hsl(208, 11%, 85%) solid 2px;
    box-shadow: 2px 2px hsl(208, 11%, 85%);
    display: flex;
}
.section div {
    width: 50%;
    overflow: none;
}
.section .left-box {
    padding-right: 40px;
}
.section .right-box {
    padding-left: 40px;
}
.section div img {
    width: 100%;
}

.grow-together .left-box, 
.flowing-conversations .right-box, 
.your-users .left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
