html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
p {
    color: hsl(208, 11%, 55%);
}
header {
    width: 100%;
    padding: 20px;
    background: url('img/bg-hero-desktop.svg');
    background-color: hsl(193, 100%, 96%);
}
nav {
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}
nav img {
    width: 200px;
    height: auto;
}
nav button {
    width: 200px;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 30%;
    box-shadow: 1px 1px hsl(193, 100%, 96%);
    cursor: pointer;
}
nav button:hover {
    opacity: .7;
}

/*Hero Section*/
.hero-section {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
}
.hero-box {
    /*width: 50%;*/
    padding: 20px;
    overflow: hidden;
}
.hero-left-box {
    width: 45%;
    padding-top: 70px;
    padding-right: 20px;
}
.hero-left-box p {
    color: hsl(192, 100%, 9%);
}
.hero-left-box button {
    width: 70%;
    margin-top: 30px;
    padding: 18px 20px 18px 20px;
    color: #fff;
    font-weight: 700;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 30%;
    outline: none;
    cursor: pointer;
}
.hero-left-box button:hover {
    opacity: .6;
}
.hero-right-box {
    width: 55%;
}
.hero-right-box img {
    width: 100%;
}

/*Main section styles*/
main {
    width: 100%;
    margin-top: 120px;
    padding: 20px;
}

.section {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    padding: 40px 80px 0 80px;
    border: 1px solid hsl(208, 11%, 85%);
    border-radius: 3%;
    box-shadow: hsl(208, 11%, 85%) 0px 7px 15px 0px;
    display: flex;
}
.section div {
    width: 50%;
    overflow: none;
}
.section .left-box {
    padding-right: 40px;
}
.section .right-box {
    padding-left: 40px;
}
.section div img {
    width: 100%;
}

.grow-together .left-box, 
.flowing-conversations .right-box, 
.your-users .left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*=====Footer styles =====*/
footer {
    width: 100%;
    margin-top: 200px;
    padding: 80px 20px 50px 20px;
    background-color: hsl(192, 100%, 9%);
    position: relative;
}
.footer-call-to-action {
    width: 60%;
    height: 40%;
    margin: auto;
    border: 1px solid hsl(208, 11%, 85%);
    border-radius: 3%;
    box-shadow: hsl(208, 11%, 85%) 0px 0px 0px 0px;
    background-color: #fff;
    position: absolute;
    top: -100px;
    left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-call-to-action h3 {
    font-size: 32px;
}
.footer-call-to-action button {
    width: 50%;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 25%;
    cursor: pointer;
}
.footer-call-to-action button:hover {
    opacity: .6;
}
/*Footer left content area*/
.footer-content-area {
    width: 90%;
    margin: auto;
    margin-top: 120px;
    
}
.footer-blocks {
    width: 100%;
    margin-top: 30px;
    display: flex;
}
.footer-blocks1,
.footer-links1, 
.footer-links2, 
.footer-socials {
    padding: 10px;
    font-size: 16px;
}
.footer-blocks1,
.footer-socials {
    width: 30%;
    padding-right: 20px;
}
.footer-links1, 
.footer-links2 {
    width: 20%;
}
.footer-icon {
    display: flex;
}
.footer-icon img {
    width: 15px;
    height: 23px;
    margin: 12px;
}
.footer-icon p {
    color: hsl(208, 11%, 85%);
}

/*Footer links */
.footer-links1 a,
.footer-links2 a {
    padding: 8px;
    padding-left: 20px;
    text-decoration: none;
    color: hsl(208, 11%, 85%);
    cursor: pointer;
    display: block; 
}
.footer-links1 a:hover,
.footer-links2 a:hover {
    text-decoration: underline;
}
/*Footer Socials*/
.footer-socials {
    width: 30%;
}

/*Copyright*/
.copyright {
    width: 100%;
    padding: 0 80px;
    text-align: right;
    font-size: 12px;
    color: hsl(208, 11%, 85%);
}